*{
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.site-title{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh; 
    background-color: red;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 4rem;
    padding: 16px 40px;
    z-index: 1000;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 22px;
}

.nav li{
    display: inline;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:hover {
    text-decoration: underline;
}

.sign-in {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

.card {
  max-width: 420px; 
  margin: 60px auto; 
  padding: 20px; 
  background: grey; 
  border-radius: 12px;
}

.homepage {
  height: 100vh;
  width: 100%;
  background: url("https://img1.wsimg.com/isteam/getty/131772847") center/cover no-repeat;
  position: relative;
}

.homepage-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 21rem;
  width: 100%;
  padding: 0 40px;
  background: rgba(0,0,0,0.4);
  color: white;
}

/* TEXT */
.homepage-text h1 {
  font-size: 128px;
  font-weight: bold;
}

.homepage-text p {
  margin-top: 5px;
  font-size: 32px;
}

/* CONTACT CARD */
.contact-card {
  background: red;
  color: black;
  padding: 25px;
  border-radius: 12px;
  width: 500px;

}

.form-row {
  display: flex;
  gap: 10px;
}

.submit-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
}



.About-Overlay{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.About-Overlay > * {
  flex: 1;
}

.AboutCard1{
  background-color: #7a0e0a;
  justify-content: center;
  padding: 0px 150px;
}

.AboutCard1 h1 {
  font-size: larger;
}



.AboutCard2{
  background-color: #CA2722;
}

.AboutText{
  display: flex;
  justify-content: center;
}

.AboutText div{
  border: 2px solid black;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: -10rem;
}

.AboutText p {
  border: 1px solid black;
}

.AboutDividerImg{
  object-fit: cover;
  width: 100%;
  height: 100%
}

.ServiceBackground{
  background-color: #3f0604;
  height: 100vh;

}
